[% IF item.user.defined;
      user = item.user;
  ELSIF data.upload.user.defined;
      user = data.upload.user;
  ELSE;
      user = data.user;
  END; %]
[% IF ! avatar_size.defined; THEN; avatar_size = 100; END %]
<img src="[% user.avatar %]" class="avatar-[% avatar_size %]" width="[% avatar_size %]" height="[% avatar_size %]">
