[% IF user.avatar_type == 'Gravatar' %]
[% ELSIF user.avatar_type == 'Image' %]
[% ELSIF user.avatar_type == 'System' %]
[% ELSE %]
  [% thumbnail = '/images/defaults/medium/default_avatar.png' %]
[% END %]
