[% IF ! avatar_size.defined; THEN; avatar_size = 100; END %]
<img [% nolazy.defined ? "src='$user.avatar'" : "data-src='$user.avatar' src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='" %] class="avatar-[% avatar_size %][% nolazy.defined ? '' : ' b-lazy' %]" width="[% avatar_size %]" height="[% avatar_size %]">
