[% IF flash.error.defined or flash.notify.defined or flash.success.defined %]
<script>
  $(document).ready( function () {
    [% IF flash.error %]
    showError( '[% flash.error %]' );
    [% END %]
    [% IF flash.notify %]
    showInfo( '[% flash.notify %]' );
    [% END %]
    [% IF flash.success %]
    showSuccess( '[% flash.success %]' );
    [% END %]
  });
</script>
[% END %]
