<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="[% settings.charset %]">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>[% IF title %][% title %] | [% END %]Side 7</title>
  <link href="https://fonts.googleapis.com/css?family=Athiti|Jockey+One|Share+Tech|Squada+One|Teko&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/notifIt.min.css">

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="/javascripts/jquery.js"><\/script>') /* ]]> */</script>
  <script type="text/javascript" src="/javascripts/vendor/notifIt.min.js"></script>

  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#000000">
  <!-- END FAVICON -->

</head>
<body>
  [% PROCESS 'partials/notifications_js.tt' %]
  [% PROCESS 'partials/main_menu.tt' %]

  <div class="grid-container fluid">

    [% content %]

  </div>

  [% PROCESS 'partials/main-footer.tt' %]

  [% IF flash.error.defined or flash.notify.defined or flash.success.defined or flash.warning.defined %]
  <script>
    $(document).ready( function () {
      [% IF flash.error.defined %]
      showError( '[% flash.error %]' );
      [% END %]
      [% IF flash.warning.defined %]
      showWarning( '[% flash.warning %]' );
      [% END %]
      [% IF flash.notify.defined %]
      showInfo( '[% flash.notify %]' );
      [% END %]
      [% IF flash.success.defined %]
      showSuccess( '[% flash.success %]' );
      [% END %]
    });
  </script>
  [% END %]

  <script type="text/javascript" src="https://use.fontawesome.com/bbc3509751.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/s7.js"></script>
</body>
</html>
