<!DOCTYPE html>
<html lang="en">
<head>
  [% PROCESS 'partials/_html_head.tt' %]
</head>
<body>
  [% PROCESS 'partials/main_menu.tt' %]

  <div class="grid-container fluid">

    [% content %]

  </div>

  [% PROCESS 'partials/main-footer.tt' %]

  [% IF flash.error.defined or flash.notify.defined or flash.success.defined or flash.warning.defined %]
  <script>
    $(document).ready( function ($) {
      [% IF flash.error.defined %]
      showError( '[% flash.error %]' );
      [% END %]
      [% IF flash.warning.defined %]
      showWarning( '[% flash.warning %]' );
      [% END %]
      [% IF flash.notify.defined %]
      showInfo( '[% flash.notify %]' );
      [% END %]
      [% IF flash.success.defined %]
      showSuccess( '[% flash.success %]' );
      [% END %]
    });
  </script>
  [% END %]

  <script type="text/javascript" src="/javascripts/vendor/jquery-modal/jquery.modal.min.js"></script>
  <!-- <script type="text/javascript" src="https://use.fontawesome.com/bbc3509751.js"></script> -->
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/s7.js"></script>
</body>
</html>
