<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-pending">
<head>
  [% PROCESS 'partials/_html_head.tt' %]
</head>
<body>

  <div class="grid-y medium-grid-frame">
    <div class="cell shrink header">
        [% PROCESS 'partials/main_menu.tt' %]
    </div><!-- Close header -->

    <div class="grid-x grid-margin-x">
      <div class="cell medium-cell-block">
        <div class="off-canvas-wrapper">

          <div class="off-canvas-absolute position-left" id="UDB-menu" data-off-canvas>

            <div class="app-dashboard-sidebar-inner">
              <ul class="menu vertical">
                <li><a href="/user">
                  <i class="far fa-fw fa-user-circle fa-lg"></i> <span class="app-dashboard-sidebar-text">Overview</span>
                </a></li>
                <li><a href="/user/feed">
                  <i class="far fa-fw fa-globe fa-lg"></i> <span class="app-dashboard-sidebar-text">Friends Feed</span>
                </a></li>
                <li><a href="/user/museum">
                  <i class="far fa-fw fa-university fa-lg"></i> <span class="app-dashboard-sidebar-text">Museum</span>
                </a></li>
                <li><a href="/user/profile/edit">
                  <i class="far fa-fw fa-id-card fa-lg"></i> <span class="app-dashboard-sidebar-text">Edit Profile &amp; Avatar</span>
                </a></li>
                <li><a href="/user/gallery/manage">
                  <i class="far fa-fw fa-images fa-lg"></i> <span class="app-dashboard-sidebar-text">Manage Gallery</span>
                </a></li>
                <li><a href="/user/message_center">
                  <i class="far fa-fw fa-comments fa-lg"></i> <span class="app-dashboard-sidebar-text">Message Center</span>
                </a></li>
                <li><a href="/user/settings">
                  <i class="far fa-fw fa-cogs fa-lg"></i> <span class="app-dashboard-sidebar-text">Settings</span>
                </a></li>
              </ul>
            </div><!-- Close app-dashboard-sidebar-inner -->

          </div> <!-- Close off-canvas block-->

          <div class="cell auto medium-cell-block-y off-canvas-content" id="page-content" data-off-canvas-content>

            <div class="grid-container">
              <div class="grid-x grid-margin-x">
                <div class="cell"><button type="button" class="button" data-toggle="UDB-menu"><i class="far fa-bars"></i> Dashboard Menu</button></div>
              </div><!-- Close grid-x -->
            </div><!-- close grid-container -->

            [% content %]

          </div><!-- Close off-canvas content -->

        </div><!-- Close off-canvas wrapper -->
      </div><!-- Close medium cell -->
    </div><!-- Close content grid-x -->

    <div class="cell shrink footer">
      [% PROCESS 'partials/main-footer.tt' %]
    </div><!-- Close footer -->
  </div> <!-- Close Grid Frame -->

  [% IF flash.error.defined or flash.notify.defined or flash.success.defined or flash.warning.defined %]
  <script type="text/javascript">
    $(document).ready( function () {
      [% IF flash.error.defined %]
      showError( '[% flash.error %]' );
      [% END %]
      [% IF flash.warning.defined %]
      showWarning( '[% flash.warning %]' );
      [% END %]
      [% IF flash.notify.defined %]
      showInfo( '[% flash.notify %]' );
      [% END %]
      [% IF flash.success.defined %]
      showSuccess( '[% flash.success %]' );
      [% END %]
    });
  </script>
  [% END %]

  <script>
    $(document).ready( function() {
      $('[data-app-dashboard-toggle-shrink]').on('click', function(e) {
        e.preventDefault();
        $(this).parents('.app-dashboard').toggleClass('shrink-medium').toggleClass('shrink-large');
      });
    });
  </script>

  <script type="text/javascript" src="/javascripts/vendor/jquery-modal/jquery.modal.min.js"></script>
  <!--<script type="text/javascript" src="https://use.fontawesome.com/bbc3509751.js"></script> -->
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/s7.js"></script>
</body>
</html>
