<!DOCTYPE html>
<html lang="en">
<head>
  [% PROCESS 'partials/_html_head.tt' %]
</head>
<body>

  <div class="grid-y medium-grid-frame">
    <div class="cell shrink header">
        [% PROCESS 'partials/main_menu.tt' %]
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-cell-block">
        <div class="off-canvas-wrapper">

          <div class="off-canvas-absolute position-left" id="UDB-menu" data-off-canvas>

            <div class="app-dashboard-sidebar-inner">
              <ul class="menu vertical">
                <li><a href="/user">
                  <i class="large fa fa-fw fa-user-circle"></i> <span class="app-dashboard-sidebar-text">Overview</span>
                </a></li>
                <li><a href="/user/feed">
                  <i class="large fa fa-fw fa-globe"></i> <span class="app-dashboard-sidebar-text">Friends Feed</span>
                </a></li>
                <li><a href="/user/museum">
                  <i class="large fa fa-fw fa-bank"></i> <span class="app-dashboard-sidebar-text">Museum</span>
                </a></li>
                <li><a href="/user/profile">
                  <i class="large fa fa-fw fa-drivers-license"></i> <span class="app-dashboard-sidebar-text">Profile</span>
                </a></li>
                <li><a href="/user/gallery">
                  <i class="large fa fa-fw fa-picture-o"></i> <span class="app-dashboard-sidebar-text">Gallery</span>
                </a></li>
                <li><a href="/user/message_center">
                  <i class="large fa fa-fw fa-comments-o"></i> <span class="app-dashboard-sidebar-text">Message Center</span>
                </a></li>
                <li><a href="/user/settings">
                  <i class="large fa fa-fw fa-gear"></i> <span class="app-dashboard-sidebar-text">Settings</span>
                </a></li>
              </ul>
            </div>

          </div> <!-- Close menu block -->

          <div class="cell auto medium-cell-block-y off-canvas-content" data-off-canvas-content>

            <div class="grid-container">
              <div class="grid-x grid-margin-x">
                <div class="cell"><button type="button" class="button" data-toggle="UDB-menu"><i class="fa fa-bars"></i> Dashboard Menu</button></div>
              </div>
            </div>

            [% content %]

          </div>

        </div>
      </div>
    </div>

    <div class="cell shrink footer">
      [% PROCESS 'partials/main-footer.tt' %]
    </div>
  </div>

  <script>
    $(document).ready( function () {
    [% IF flash.error.defined or flash.notify.defined or flash.success.defined or flash.warning.defined %]
      [% IF flash.error.defined %]
      showError( '[% flash.error %]' );
      [% END %]
      [% IF flash.warning.defined %]
      showWarning( '[% flash.warning %]' );
      [% END %]
      [% IF flash.notify.defined %]
      showInfo( '[% flash.notify %]' );
      [% END %]
      [% IF flash.success.defined %]
      showSuccess( '[% flash.success %]' );
      [% END %]
    [% END %]

      $('.lazy').Lazy(
        {
          combined: true,
          effect: 'fadeIn',
          visibleOnly: true,
          delay: 5000
        }
      );
    });
  </script>

  <script>
    $(document).ready( function() {
      $('[data-app-dashboard-toggle-shrink]').on('click', function(e) {
        e.preventDefault();
        $(this).parents('.app-dashboard').toggleClass('shrink-medium').toggleClass('shrink-large');
      });
    });
  </script>

  <script type="text/javascript" src="/javascripts/vendor/jquery-modal/jquery.modal.min.js"></script>
  <script type="text/javascript" src="https://use.fontawesome.com/bbc3509751.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/s7.js"></script>
</body>
</html>
