    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="callout small-8 small-offset-2 cell">
          [% PROCESS 'partials/_login_form.tt' %]
        </div>
      </div>
    </div>
