<div class="grid-x grid-padding-x align-middle">
  <div class="cell shrink">[ AVATAR ]</div>
  <div class="cell auto">
    <a href="/[% data.upload.user %]/gallery">[% data.upload.user.full_name %]</a><br>
    <strong>Title:</strong> [% data.upload.title %]<br>
    <strong>Rating:</strong> [% data.upload.upload_rating.rating %]<br>
    <strong>Category:</strong> [% data.upload.upload_category.category %]
  </div>
</div>
